html, body {
    margin: 0;
    padding: 0;
}

/*bg img sections*/

.bgimg, .bgimg2 {
    margin: 0;
    min-height: 0%;
    min-width: 100%;

    /*parallax effect*/
    background-attachment: fixed;
    background-position: center top 80%;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
}

.bgimg {
    background-image: url("img/saopic.jpg");
}
.bgimg2 {
    background-image: url("img/bgimg.png");
}

/* navigation bar */
#navBar {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;

    outline: 0;

    width:auto;
    border:none;
    outline:0;
    
    float: left;
}

#navBar > li {
    float: left;
    display: inline;
}
#navBar > li a {
    display: block;
    color: rgb(3, 25, 58);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.top {
    z-index: 1;
    margin: 0;
    padding: 0;

    top: 0px;
    position: -webkit-sticky; /* safari */
    position: sticky;
}

.container {
    margin: 0;
    height: 1000px;
}
.center {
    position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)
}
h1 {
    margin: auto;
    color: red;
    font-size: 300;
    
    text-align: center;
}


